/* SELECTEURS GENERALS */
* {
    margin: 30; 
    padding: 30; 
    background: rgb(32, 25, 25); 
    color: white; 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
}

}
/* ------------body  ------------ */
ul {
   ;
}
li {
    list-style: none;
}
/* ------------photos  ------------ */
#photos {

}